
@model PizzaBox.Client.Models.OrderPizzasViewModel

<h3>Order History</h3>
<hr>

@{
    int Total = 0;
}

<h2>Pizzas Ordered From @Model.Store</h2>
@foreach (var item in Model.Pizzas)
{   
    Total = Total + 10;
    <p>@item.Name</p>
    @* Might need to display entity id not sure yet tho *@
}
<h2>Total:$ @Total </h2>
