
@*
-HTML Helpers
-TAG Helpers
-CSRF = cross site request forgery
 *@

@* html way *@

@model PizzaBox.Client.Models.OrderViewModel


@Html.AntiForgeryToken()
<div class="row">
  <div class="col-md"></div>
  <div class="col">
@foreach (var item in Model.Stores)
{
<input type="radio" name="store" id="@item">
<label for="@item">@item</label>
    }
  </div>
  <div class="col-md"></div>
</div>
<div class="row">
  <div class="col-md"></div>
<div class="col">
<form asp-controller="Order" asp-action="ContinueOrder" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Pepperoni" class="d-none"/>
<button class="btn btn-danger btn-lg" type="submit">
  Pepperoni 
</button>
</form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="ContinueOrder" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Four Cheese" class="d-none"/>
<button class="btn btn-danger btn-lg">
  Four Cheese
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
<br>
<div class="row">
  <div class="col-md"></div>
<div class="col">
  <form asp-controller="Order" asp-action="ContinueOrder" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Meat Pizza" class="d-none"/>
<button class="btn btn-danger btn-lg">
  Meat Pizza
</button>
  </form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="ContinueOrder" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Veggie" class="d-none"/>
<button class="btn btn-danger btn-lg">
  Veggie Pizza
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
  <br>
<div class="row">
<div class="col-md"></div>
<div class="col-md">
  <button type="submit"class="btn btn-danger ">Finish Order</button>
</div>
<div class="col-md"></div>
</div>  





