
@*
-HTML Helpers
-TAG Helpers
-CSRF = cross site request forgery
 *@

@* html way *@

@model PizzaBox.Client.Models.OrderViewModel

<form action="/order/post"method="POST">
@Html.AntiForgeryToken()
<div class="row">
  <div class="col-md"></div>
  <div class="col">
@foreach (var item in Model.Stores)
{
<input type="radio" name="store" id="@item">
<label for="@item">@item</label>
    }
  </div>
  <div class="col-md"></div>
</div>
<div class="row">
  <div class="col-md"></div>
<div class="col">
<button class="btn btn-danger btn-lg">
  Pepperoni 
</button>
</div>
<div class="col">
<button class="btn btn-danger btn-lg">
  Four Cheese
</button>
</div>
<div class="col-md"></div>
</div>
<br>
<div class="row">
  <div class="col-md"></div>
<div class="col">
<button class="btn btn-danger btn-lg">
  Meat Pizza
</button>
</div>
<div class="col">
<button class="btn btn-danger btn-lg">
  Veggie Pizza
</button>
</div>
<div class="col-md"></div>
</div>
  <br>
<div class="row">
<div class="col-md"></div>
<div class="col-md">
  <button type="submit"class="btn btn-danger ">Finish Order</button>
</div>
<div class="col-md"></div>
</div>  
</form>

