@{
  ViewData["Title"] = "Order";
}


<div class="row justify-content-center">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h2 class=" bg-danger text-white">Lets Start a Pizza Order</h2>
  </div>
  <div class="col-sm"></div>

</div>
<div class="row justify-content-center">
  <div class="col-md"></div>
  <div class="col-md">
    <form>
      <h3 class="bg-danger text-white">Choose a Store</h3>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            @foreach (var s in ViewBag.Stores)
            {
                <label for="store1">
              <input type="checkbox">
              @s
            </label>
            <br/>
            }
            
          </div>
        </div>
        <br>
        <div class="row justify-content-center">

        <h3 class="bg-danger text-white"> Choose Pizzas ALL Pizza 10$ each</h3>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label for="pepperoni">
                <input type="checkbox">
                Pepperoni
              </label>
            </div>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label for="cheese">
                <input type="checkbox">
                Four Cheese
              </label>
            </div>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label for="meat">
                <input type="checkbox">
                Meat Pizza
              </label>
            </div>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label for="veggie">
                <input type="checkbox">
                Veggie Pizza
              </label>
            </div>
            <input type="number" class="form-control">
          </div>
        </div>
        </div>

      </div>

      <br>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md"></div>

</div>