@{
    ViewData["Title"] = "Home Page";
}


    <div class="row justify-content-center">
        <div class="col-sm"></div>
        <div class="col-sm">
    <h1 class="display-4 bg-danger text-white">PizzaWorld</h1>
    <img src="https://images.pexels.com/photos/4773769/pexels-photo-4773769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of Pizza Box by Maksim Goncharenok from Pexels" style="max-width:100%; max-height:100%;">
        </div>
        <div class="col-sm"></div>
         </div>
         <div class="row justify-content-center">
             <hr>
             <div class="col-sm"></div>
             <div class="col-sm">
        <a href="/user" class="btn btn-primary">Choose a User</a>
             </div>
             <div class="col-sm"></div>
         </div>
   
        
    </div>

