@{
    ViewData["Title"] = "Users History";
}
@model PizzaBox.Client.Models.OrderHistoryViewModel

<h2>@Model.User</h2>
<form asp-controller="Store" asp-action="UserStore" method="GET">
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<button class="btn btn-danger" tpye="submit">Start New Order</button>
</form>
<h3>Previous Orders</h3>
<hr>
@foreach (var item in Model.Orders)
{
       <h4>Order: @item.EntityId</h4>
    <form asp-controller="Pizza" asp-action="get" asp-route-id="@item.EntityId" method="GET" >
        <button type="submit"  class="btn btn-primary">order details</button>
        </form>
    
}

