@{
    ViewData["Title"] = "Users Page";
}
@model PizzaBox.Client.Models.UserViewModel
<ul>
@foreach (var user in Model.Users)
{
    <li>
        @user 
        <form asp-controller="Home" asp-action="Index">
        <button type="submit"  class="btn btn-primary"  name ="@user">select</button>
        </form>
        </li>
    
    <br>
}
</ul>
<form action="/user/post"method="POST">
@Html.AntiForgeryToken()
<input type="text" name="Name" id="Name">
<button type="submit" class="btn btn-primary">add user</button>
</form>