@{
    ViewData["Title"] = "Users Page";
}
@model PizzaBox.Client.Models.UserViewModel
<ul>
@foreach (var user in Model.Users)
{
    <li>@user <button class="btn btn-primary">select</button></li>
    <br>
}
</ul>
<form action="/user/post"method="POST">
@Html.AntiForgeryToken()
<input type="text" name="Name" id="Name">
<button type="submit" class="btn btn-primary">add user</button>
</form>