@{
    ViewData["Title"] = "Stores Page";
}
@model PizzaBox.Client.Models.StoreViewModel

@foreach (var store in Model.Stores)
{
        <div class="row">
    
        <div class="col">
        <p>
        @store: 
        </p>
        </div>
        <div class="col">
        <form asp-controller="Store" asp-action="history" method="GET" >
            <input type="text" class="d-none" asp-for="Store" name="Store" value="@store">
        <button type="submit"  class="btn btn-primary"  value ="@store">select</button>
        </form>
        </div>
        <div class="col">
        <form asp-controller="store" asp-action="Sales"  method="GET" >
        <input type="text" class="d-none" asp-for="Store" name="Store" value="@store">
        <button type="submit"  class="btn btn-danger">Total Sales</button>
        </form>
        </div>
        
        </div>
    
    <hr>
}
